@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700 &display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    transition: 0.2s all linear;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

a {
    color: #333;
}

h1,
h2 {
    font-weight: 500;
    line-height: 1.2;
}

p {
    margin: 1rem 0;
}

img {
    width: 100%;
}

.text-center {
    text-align: center;
}


/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    opacity: 0.8;
    color: var(--light);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 0 3rem;
}

.navbar a {
    padding: 10px 20px;
    color: var(--light);
    margin: 0 0.5px;
}

.navbar a:hover {
    border-bottom: 2px solid var(--warning);
}

.navbar ul {
    display: flex;
}

.navbar .brand {
    font-weight: 400;
}

.navbar h1 {
    font-size: 2.5rem;
}

.main-header .content h1 span,
.navbar span {
    color: var(--warning);
}


/* Main Header */

.main-header {
    background-image: url('../img/bg-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--white);
    position: relative;
}

.main-header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.main-header * {
    z-index: 5;
}

.main-header .content h1 {
    font-size: 55px;
}

.main-header .content p {
    font-size: 25px;
    max-width: 600px;
    margin: 2rem 0;
}

.main-header .content a span {
    padding: 10px;
    font-size: 25px;
}


/* Icons */

.icons {
    padding: 30px;
}

.icons h3 {
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--primary);
}

.icons i {
    background-color: var(--primary);
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}


/* about */

#about {
    color: #fff;
}

#about h2 {
    font-size: 3rem;
    font-weight: 400;
}

#about p {
    margin: 2rem 0;
}

#about img {
    width: 100%;
    height: 100%;
}


/* gallery */

.gallery img:hover {
    overflow: hidden;
    transform: scale(1.1);
    cursor: pointer;
}

.card {
    color: var(--light);
    font-weight: 700;
}

.card-body {
    padding: 2rem;
}


/* contact  */

.contact-form {
    width: 100%;
    margin: 2rem 0;
}

.contact-form label {
    display: block;
    margin-bottom: .4rem;
}

.contact-form .form-control {
    margin-bottom: 15px;
}

.contact-form input {
    width: 100%;
    height: 3rem;
    padding: .5rem;
    border: none;
    outline: none;
    border: 1px solid var(--primary);
}

.contact-form .btn {
    width: 20%;
    margin-top: 20px;
}

.contact-form .btn:hover {
    opacity: 0.8;
}

.contact h2 {
    font-size: 3rem;
}


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.footer a {
    color: var(--danger);
}

.footer a:hover {
    opacity: 0.8;
}

.footer .social a {
    margin-right: 10px;
}


/* responsive */

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }
    .navbar a {
        padding: 10px;
        margin: 0 3px;
        font-size: 15px;
    }
    .contact-form .btn {
        width: 40%;
    }
    .main-header .content a span {
        padding: 10px;
        font-size: 25px;
    }
    .main-header .content a i {
        font-size: 25px;
    }
    .main-header .content h1 {
        font-size: 55px;
    }
    .main-header .content p {
        font-size: 20px;
        max-width: 500px;
        margin: 2rem 0;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 12px;
    }
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }
    .navbar a {
        padding: 10px;
        margin: 0 3px;
        font-size: 15px;
    }
    .contact-form .btn {
        width: 40%;
    }
    .main-header .content h1 {
        margin-top: 90px;
        font-size: 35px;
    }
    .main-header .content p {
        font-size: 15px;
        max-width: 500px;
        margin: 2rem 0;
    }
    .main-header .content a span {
        padding: 10px;
        font-size: 15px;
    }
    .main-header .content a i {
        font-size: 15px;
    }
}